<script type="text/javascript" src="/js/angular/directives/wysiwyg.js"></script>
<script type="text/javascript">
    var app = angular.module('pencilblueApp', ['wysiwygElement']);
    app.controller('ProjectsController', function ($scope, $http) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        $scope.getProjects = function () {
            console.log("ng-init get projects function");
            $http.get("/api/projects")
            .then(function(response) {
                $scope.projects = response.data;
            });
        }
    });


    app.controller('PencilBlueController', function ($scope) {
        ^angular_objects^
        $scope.saveHomePage = function () {
            $scope.page_layout = $scope.layout;
        }
    });

    app.filter('unsafe', function ($sce) {
        return function (val) {
            return $sce.trustAsHtml(val);
        };

    });

</script>
