<!-- FOOTER -->
<footer class="main-footer wow fadeInUp">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="#home">home</a>
                        </li>
                        <li><a href="#whyus">why us</a>
                        </li>
                        <li><a href="#openings">current openings</a>
                        </li>
                        <li><a href="#contact">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->

<script type="text/javascript" src="^jquery_validate_src^"></script>
<script type="text/javascript" src="/public/mw_theme/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/smoothScroll.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/wow.min.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/main.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/pageguide.min.js"></script>


<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        new WOW().init();
        // initialise flexslider
        $('.site-hero').flexslider({
            animation: "fade",
            directionNav: false,
            controlNav: false,
            keyboardNav: true,
            slideToStart: 0,
            animationLoop: true,
            pauseOnHover: false,
            slideshowSpeed: 4000,
        });
       /* $('.people-speak').flexslider({
            animation: "fade",
            slideToStart: 0,
            directionNav: false,
            controlNav: false,
            keyboardNav: true,
            animationLoop: true,
            pauseOnHover: true,
            slideshowSpeed: 4000,
        });*/
        // initialize isotope
        var $container = $('.portfolio_container');
        $container.isotope({
            filter: '*',
        });
        $('.portfolio_filter a').click(function() {
            var selector = $(this).attr('data-value');
            $('#filter-ip').tagsinput('add', selector);
            resetIsotype();
        });
        $('.reset-btn').click(function() {
            $('#filter-ip').tagsinput('removeAll');
            resetIsotype();
        })
        $('#filter-ip').on('itemRemoved', function(event) {
            resetIsotype();
        });
        
        var pageguide = tl.pg.init();
    });

    function resetIsotype() {
        $('.portfolio_container').isotope({
            filter: $('#filter-ip').val(),
            animationOptions: {
                duration: 500,
                animationEngine: "jquery"
            }
        });
    }
</script>
</body>

</html>