<!-- FOOTER -->
<footer class="main-footer wow fadeInUp">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="index.html" class="animsition-link link">Home</a>
                        </li>
                        <li><a href="about.html" class="animsition-link link">about us</a>
                        </li>
                        <li><a href="services.html" class="animsition-link link">services</a>
                        </li>
                        <li><a href="portfolio-1.html" class="animsition-link link">portfolio</a>
                        </li>
                        <li><a href="blog-1.html" class="animsition-link link">blog</a>
                        </li>
                        <li><a href="contact.html" class="animsition-link link">contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-4 col-sm-12" style="text-align:right">
            <div class="row">
                <div class="uppercase gray-text">
                    created by akhouad &copy;2016. all rights reserved.
                </div>
                <ul class="social-icons" style="margin-top:30px;float:right">
                    <li><a href="#"><i class="icon ion-social-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="icon ion-social-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="icon ion-social-youtube"></i></a>
                    </li>
                    <li><a href="#"><i class="icon ion-social-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="icon ion-social-pinterest"></i></a>
                    </li>
                    <li><a href="#"><i class="icon ion-social-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- SCRIPTS -->

<script type="text/javascript" src="^jquery_validate_src^"></script>
<script type="text/javascript" src="/public/mw_theme/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/smoothScroll.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/wow.min.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/main.js"></script>
<script type="text/javascript" src="/public/mw_theme/js/bootstrap-tagsinput.js"></script>

<script type="text/javascript" src="/public/mw_listing/js/mw_listing_form.js"></script>


<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        new WOW().init();
        // initialise flexslider
        $('.site-hero').flexslider({
            animation: "fade",
            directionNav: false,
            controlNav: false,
            keyboardNav: true,
            slideToStart: 0,
            animationLoop: true,
            pauseOnHover: false,
            slideshowSpeed: 4000,
        });
        // initialize isotope
        var $container = $('.portfolio_container');
        $container.isotope({
            filter: '*',
        });
        $('.portfolio_filter a').click(function() {
            var selector = $(this).attr('data-value');
            $('#filter-ip').tagsinput('add', selector);
            resetIsotype();
        });
        $('.reset-btn').click(function() {
            $('#filter-ip').tagsinput('removeAll');
            resetIsotype();
        })
        $('#filter-ip').on('itemRemoved', function(event) {
            resetIsotype();
        });
    });

    function resetIsotype() {
        $('.portfolio_container').isotope({
            filter: $('#filter-ip').val(),
            animationOptions: {
                duration: 500,
                animationEngine: "jquery"
            }
        });
    }
</script>
</body>

</html>