<!DOCTYPE html>
<html ng-app="pencilblueApp">
<head>
	<title>^site_name^</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/public/mw_theme/img/favicon.ico">
	<meta name="author" content="Amine Akhouad">
	<meta name="description" content="AKAD is a creative and modern template for digital agencies">

	<!-- STYLES -->    
    <link rel="stylesheet" type="text/css" href="^jquery_ui_css_src^">
    <link rel="stylesheet" type="text/css" href="^bootstrap_css_src^">
    <link rel="stylesheet" type="text/css" href="^font_awesome_src^">
    <link rel="stylesheet" type="text/css" href="^jquery_file_upload_css_src^">
    <link rel="stylesheet" type="text/css" href="^jquery_datetime_picker_css_src^">
    <link rel="stylesheet" type="text/css" href="^ng_sortable_style_css_src^">

	<!--link rel="stylesheet" href="/public/mw_theme/css/bootstrap.min.css"-->
	<link rel="stylesheet" href="/public/mw_theme/css/ionicons.min.css">
	<link rel="stylesheet" href="/public/mw_theme/css/flexslider.css">
	<link rel="stylesheet" href="/public/mw_theme/css/animsition.min.css">
	<link rel="stylesheet" href="/public/mw_theme/css/animate.css">
	<link rel="stylesheet" href="/public/mw_theme/css/style.css">
    <link rel="stylesheet" href="/public/mw_theme/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/public/mw_theme/css/pageguide.min.css">
    <link rel="stylesheet" href="/public/mw_theme/css/custom.css">

    
    <script type="text/javascript" src="^jquery_src^"></script>
    <script type="text/javascript" src="^jquery_ui_js_src^"></script>
    <script type="text/javascript" src="^jquery_ui_touch_punch_src^"></script>
    <script type="text/javascript" src="^jquery_datetime_picker_js_src^"></script>
    <script type="text/javascript" src="^bootstrap_js_src^"></script>
    <script type="text/javascript" src="^angular_src^"></script>
    <script type="text/javascript" src="^angular_route_src^"></script>
    
    ^localization_script^
    
</head>
    <body class="animsition"  ng-controller="PencilBlueController">
    <!-- HEADER  -->
    <header class="main-header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <!--img src="/public/mw_theme/img/logo.png" alt="logo"-->
                    <img ng-src="{{logo}}" alt="logo">
                </a>
            </div>

            <div class="menu">
                <!-- desktop navbar -->
                <nav class="desktop-nav">
                    <ul class="first-level">
                        <li><a href="/">home</a>
                        </li>
                        <li><a href="#whyus">why us</a>
                        </li>
                        <li><a href="#openings">current openings</a>
                        </li>
                        <li><a href="#contact">contact</a>
                        </li>
                        <li ng-if="!auth"><a href="/user/login">login</a>
                        </li>
                        <li ng-if="auth"><a href="/logout">logout</a>
                        </li>

                    </ul>
                </nav>
                <!-- mobile navbar -->
                <nav class="mobile-nav"></nav>
                <div class="menu-icon">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </header>

