^tmp_mw_head^
<!-- HERO SECTION  -->
<div class="site-hero" id="home">
  <ul class="slides">
    <li>
      <div><span class="small-title uppercase montserrat-text">why work at Vanguard</span>
      </div>
      <div class="big-title uppercase montserrat-text">growth</div>
      <p>When you grow, we grow. Vanguard offers employees up to $5,000 per year toward a bachelor's degree, graduate degree, or certification and up to $10,000 per year for an MBA or MIS. With CareerBuilder's support, over 300 employees have received their MBA or another degree</p>
    </li>
    <li>
      <div><span class="small-title uppercase montserrat-text">why work at Vanguard</span>
      </div>
      <div class="big-title uppercase montserrat-text">benefits</div>
      <p>With flexible work arrangements and $400 USD toward wellness benefits that cover things like gym memberships, bicycles and home equipment, we help our employees enjoy plenty of quality time outside of work and maintain a healthy lifestyle.</p>
    </li>
    <li>
      <div><span class="small-title uppercase montserrat-text">why work at Vanguard</span>
      </div>
      <div class="big-title uppercase montserrat-text">innovation</div>
      <p>We live and breathe Innovation. Budding entrepreneurs from our offices around the world can compete in our annual 'Ideas from Everywhere' competition and win $60,000 to run a new line.
        <p>
    </li>
  </ul>
</div>

<!-- HISTORY OF AGENCY -->
<div class="container" id="history">
  <div class="agency">
    <div class="col-md-5 col-sm-12">
      <div class="row">
        <img src="/public/mw_theme/img/old_company.jpg" alt="image">
      </div>
    </div>
    <div class="col-md-offset-1 col-md-6 col-sm-12">
      <div class="row">
        <div class="section-title">
          <span>our history</span>
        </div>
        <p>
          At Vanguard we take a lot of pride in our history. Our people and our culture have been the corner stone of what we have become over the past 25 years. The ingenuity of our people and our ever encouraging culture of internal entrepreneurship has seen us not just survive the hardest time but also grow into one of the most acclaimed financial advisory in the world. Over the years, our people have not just been our employees but a part of our extended family.

        </p>
      </div>
    </div>
  </div>
</div>


<!-- WHY CHOOSE US -->
<section class="services" id="whyus">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <span>why MoveWithin Vanguard</span>
        <p>Hear from a select few of our employees who have already found a new role within Vanguard</p>
      </div>
    </div>

    <div class="people-speak" id="people-speak">
      <ul class="slides">
        <li>
          <div class="col-md-3 col-sm-12">
            <div class="row">
              <div class="employee-img" style="background:url('/public/mw_theme/img/employee1.jpg') no-repeat center center">
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="row">
              <div><span class="small-title uppercase montserrat-text">Risk Analyst</span>
              </div>
              <div class="big-title uppercase montserrat-text">Melissa Brewer</div>
              <p>With flexible work arrangements and $400 USD toward wellness benefits that cover things like gym memberships, bicycles and home equipment, we help our employees enjoy plenty of quality time outside of work and maintain a healthy lifestyle.</p>

            </div>
          </div>
        </li>
        <li>
          <div class="col-md-3 col-sm-12">
            <div class="row">
              <div class="employee-img" style="background:url('/public/mw_theme/img/employee2.jpg') no-repeat center center">
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="row">
              <div><span class="small-title uppercase montserrat-text">Financial Planner</span>
              </div>
              <div class="big-title uppercase montserrat-text">Ruth Brown</div>
              <p>With flexible work arrangements and $400 USD toward wellness benefits that cover things like gym memberships, bicycles and home equipment, we help our employees enjoy plenty of quality time outside of work and maintain a healthy lifestyle.</p>

            </div>
          </div>
        </li>
        <li>
          <div class="col-md-3 col-sm-12">
            <div class="row">
              <div class="employee-img" style="background:url('/public/mw_theme/img/employee3.jpg') no-repeat center center">
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="row">
              <div><span class="small-title uppercase montserrat-text">Internal Audit</span>
              </div>
              <div class="big-title uppercase montserrat-text">Simon Philip</div>
              <p>With flexible work arrangements and $400 USD toward wellness benefits that cover things like gym memberships, bicycles and home equipment, we help our employees enjoy plenty of quality time outside of work and maintain a healthy lifestyle.</p>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<!-- PORTFOLIO -->
<section class="portfolio" id="openings">
  <div class="container">
    <div class="row">
      <div class="section-title" style="margin-bottom:50px;">
        <span>current openings</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>


    </div>

    ^tmp_mw_listing^

  </div>
  <!-- end container -->
</section>
<!-- portfolio -->

<!-- newsletter -->
<section class="green-section wow fadeInUp" style="padding:50px 0" id="contact">
  <div class="container">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <span class="white-text montserrat-text uppercase" style="font-size:30px;display:block;">
						Cant find your ideal Role?
					</span>
        <span class="white-text montserrat-text uppercase" style="font-size:15px;display:block;">
        Contact our Career Gurus Now for completely confidential guidance.
					</span>

        <a href="#" class="btn white" style="margin-top:30px"><span>get in touch</span></a>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="white-section" style="padding:20px">
          <span class="montserrat-text uppercase" style="font-size:24px">stay informed of new roles</span>
          <p>
            Subscribe to our Career Newsletter for advise on how to grow your career at Vanguard and also to know new roles as and when they are released.</p>
          <form action="#" method="post">
            <div class="input_1">
              <input type="text" name="email">
              <span>your email</span>
            </div>
            <button type="submit" class="btn green" style="margin-top:20px"><span>send</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ul id="tlyPageGuide" data-tourtitle="check out these elements">
  <li class="tlypageguide_left" data-tourtarget="#whyus">
    Here is the first item description. The number will appear to the left of the element.
  </li>
  <li class="tlypageguide_right" data-tourtarget="#openings">
    Here is the second item description. The number will appear to the right of the element.
  </li>
</ul>

<div class="tlyPageGuideWelcome">
  <p class="tlyPageGuideTitle">Welcome to the MoveWithin Demo Site.</p>
  <div class="tlyContent">
    <p class="tlyPageGuideTitle">The Challenge</p>
    <p>When Vanguard first approached us, they had an annual employee turnaround of 18%-20%, which was unusally high for their sector. They were also spending a lot of money on recruiting and attracting new talent to account for this attrition. Their brief to us was simple - <span class="tlyHighlight">"Help control employee turnover & recruitment overheads and establish a framework to reduce attrition."</span>
    </p>
    <p class="tlyPageGuideTitle">The Solution</p>
    <p>MoveWithin proved to be the perfect solution to Vanguard's problems. The product helped them launch an internal recruitment campaign aimed at employee most at risk of leaving Vanguard. It helped them put their strong culture of entrepreneurship, their proud history and values in focus to retain at risk employees and help them find a career transition within the organization.</p>
  </div>
  <div class="tlyActionButtons">
    <button class="tlypageguide_start">show guide</button>
    <button class="tlypageguide_dismiss">dont show guide</button>
    <button class="tlypageguide_ignore">later</button>
  </div>

</div>


^tmp_angular=mw_index^ ^tmp_mw_footer^
