^tmp_mw_head^
<!-- HERO SECTION  -->
<section class="site-hero" id="home">
  <ul class="slides">
    <li>
      <div><span class="small-title uppercase montserrat-text">why work at Vanguard</span>
      </div>
      <div class="big-title uppercase montserrat-text">growth</div>
      <p>When you grow, we grow. Vanguard offers employees up to $5,000 per year toward a bachelor's degree, graduate degree, or certification and up to $10,000 per year for an MBA or MIS. With Vanguard's support, over 300 employees have received their MBA or another degree</p>
    </li>
    <li>
      <div><span class="small-title uppercase montserrat-text">why work at Vanguard</span>
      </div>
      <div class="big-title uppercase montserrat-text">benefits</div>
      <p>With flexible work arrangements and $400 USD toward wellness benefits that cover things like gym memberships, bicycles and home equipment, we help our employees enjoy plenty of quality time outside of work and maintain a healthy lifestyle.</p>
    </li>
    <li>
      <div><span class="small-title uppercase montserrat-text">why work at Vanguard</span>
      </div>
      <div class="big-title uppercase montserrat-text">innovation</div>
      <p>We live and breathe Innovation. Budding entrepreneurs from our offices around the world can compete in our annual 'Ideas from Everywhere' competition and win $60,000 to run a new line.
        <p>
    </li>
  </ul>
</section>

<!-- HISTORY OF AGENCY -->
<section class="agency" id="history">
  <div class="container">
    <div class="col-md-5 col-sm-12">
      <div class="row">
        <img src="/public/mw_theme/img/old_company.jpg" alt="image">
      </div>
    </div>
    <div class="col-md-offset-1 col-md-6 col-sm-12">
      <div class="row">
        <div class="section-title">
          <span>our history</span>
        </div>
        <p>
          At Vanguard we take a lot of pride in our history. Our people and our culture have been the corner stone of what we have become over the past 25 years. The ingenuity of our people and our ever encouraging culture of internal entrepreneurship has seen us not just survive the hardest time but also grow into one of the most acclaimed financial advisory in the world. Over the years, our people have not just been our employees but a part of our extended family.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- WHY CHOOSE US -->
<section class="services" id="whyus">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <span>why MoveWithin Vanguard</span>
        <p>Hear from a select few of our employees who have found new roles within Vanguard.</p>
      </div>
    </div>

    <div class="people-speak" id="people-speak">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="employee-img" style="background:url('/public/mw_theme/img/employee1.jpg') no-repeat center center">
          </div>
        </div>
        <div class="col-md-9 col-sm-12">
          <div><span class="small-title uppercase montserrat-text">Risk Analyst</span>
          </div>
          <div class="big-title uppercase montserrat-text">Melissa Brewer</div>
          <p>Melissa joined Vanguard as a Customer Services Agent and worked in our Customer Relations department for 8 years. She successfully completed a part-time MBA (Finance) program with Vanguards help and moved to our Risk department.</p>
          <blockquote>
            <p>"After having serviced clients for 8 years, I had gained a deep understanding of what aspects of our services worried clients the most. I was at a stage in my career when I needed a new challenge. Our in-house Career Gurus suggested I take a part time MBA course and make the most of my client experience and new education by helping Vanguard think through the Risk of services from a client perspective."</p>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div><span class="small-title uppercase montserrat-text">Financial Planner</span>
          </div>
          <div class="big-title uppercase montserrat-text">Ruth Brown</div>
          <p>Ruth used the skills and expertise she gained while working in our Project Management department to transition to her new role as a Financial Planner</p>
          <blockquote>
            <p>"My work with the Project Management department helped me gain great insight into the intricacies of delivery and stakeholder management. When a new role with the Financial Planning department became available, I knew I could leverage the skills I had gained as a Project Manager and take my career to the next level as a Financial Planner."</p>
          </blockquote>

        </div>
        <div class="col-md-3 col-sm-12">
          <div class="employee-img" style="background:url('/public/mw_theme/img/employee2.jpg') no-repeat center center">
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3 col-sm-12">
          <div class="employee-img" style="background:url('/public/mw_theme/img/employee3.jpg') no-repeat center center">
          </div>
        </div>
        <div class="col-md-9 col-sm-12">
          <div><span class="small-title uppercase montserrat-text">Infrastructer Lead</span>
          </div>
          <div class="big-title uppercase montserrat-text">Simon Philip</div>
          <p>Simon worked as a Senior Developer and then as a Team Lead in our Technology division. He successfully made a move to our Infrastructure department 4 years ago.</p>
          <blockquote>
            <p>"Working as a developer for years I was always curious about how physical computing infrastructure worked. My career mentor at Vanguagrd helped me get on an ITIL course which paved the road for my successful transition to the Infrastructure department where I grew to lead my own team that looks after the companies cloud infrastructure needs."</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PORTFOLIO -->
<section class="portfolio" id="openings">
  <div class="container">
    <div class="row">
      <div class="section-title" style="margin-bottom:50px;">
        <span>current openings</span>
      </div>


    </div>

    ^tmp_mw_listing^

  </div>
  <!-- end container -->
</section>
<!-- portfolio -->

<!-- newsletter -->
<section class="newsletter green-section wow fadeInUp" id="contact">
  <div class="container">
    <div class="col-md-4 col-sm-12">
      <div class="row">
        <span class="white-text montserrat-text uppercase" style="font-size:30px;display:block;">
						Cant find your ideal Role?
					</span>
        <span class="white-text montserrat-text uppercase" style="font-size:15px;display:block;">
        Contact our Career Gurus Now for completely confidential guidance.
					</span>

        <a href="#" class="btn white" style="margin-top:30px"><span>get in touch</span></a>
      </div>
    </div>
    <div class="col-md-1 hidden-xs hidden-sm"></div>

    <div class="col-md-7 col-sm-12">
      <div class="row">
        <div class="white-section" style="padding:20px">
          <span class="montserrat-text uppercase" style="font-size:24px">stay informed of new roles</span>
          <p>
            Subscribe to our Career Newsletter for advise on how to grow your career at Vanguard and also to know new roles as and when they are released.</p>
          <form action="#" method="post">
            <div class="input_1">
              <input type="text" name="email">
              <span>your email</span>
            </div>
            <button type="submit" class="btn green" style="margin-top:20px"><span>send</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ul id="tlyPageGuide" data-tourtitle="MoveWithin Demo Guide">
  <li class="tlypageguide_bottom" data-tourtarget="#home">
    Vanguard are very proud of their entrepreneurial culture, employee education & growth programs. Like them, every organization puts in a lot of effort to grow their people. MoveWithin lets you tell this story and create a showcase of programs you're proud of.
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#history">
    Vanguard have a rich history of growth that they attribute to the ingenuity of their people over the years. We thought that was a great story to tell to keep people anchored and faithful to Vanguard.
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#whyus">
    Nothing speaks to an audience like the experiences of a peer. The Career Gurus at Vanguard have been actively helping people transition to new roles across their organization. We felt it was important to make the point through their own words.
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#openings">
    A key part of coming onboard Move Within is to develop and promote a practice of sharing all new Job openings with existing employee and allowing them to apply to these openings. Move Within gives HR departments a powerful and easy to use platform to achieve this.
  </li>
  <li class="tlypageguide_bottom" data-tourtarget="#contact">
    Finally, its important that you establish an open and confidential dialogue with employees wanting to experience a new role in your organisation. Move Within allows HR departments to do this via a targeted newsletter campaign and individual reach-out programs.
  </li>
</ul>

<div class="tlyPageGuideWelcome">
  <p class="tlyPageGuideTitle">Welcome to the MoveWithin Demo Site.</p>
  <div class="tlyContent">
    <p class="tlyPageGuideTitle">The Challenge</p>
    <p>When Vanguard first approached us, they had an annual employee turnaround of 18%-20%, which was unusually high for their sector. They were also spending a lot of money on recruiting and attracting new talent to account for this attrition. Their brief to us was simple - <span class="tlyHighlight">"Help control employee turnover & recruitment overheads and establish a framework to reduce attrition."</span>
    </p>
    <p class="tlyPageGuideTitle">The Solution</p>
    <p>MoveWithin proved to be the perfect solution to Vanguard's problems. The product helped them launch an internal recruitment campaign aimed at employee most at risk of leaving Vanguard. It helped them put their strong culture of entrepreneurship, their proud history and values in focus to retain at risk employees and help them find a career transition within the organization.</p>
    <p class="tlyPageGuideTitle">Timelines</p>
    <p>Initial Consultation: 3 days</p>
    <p>First Live Version: 1 week</p>
  </div>
  <div class="tlyActionButtons">
    <button class="tlypageguide_start">show guide</button>
    <button class="tlypageguide_dismiss">don't show guide</button>
    <button class="tlypageguide_ignore">later</button>
  </div>

</div>


^tmp_angular=mw_index^ ^tmp_mw_footer^
