^tmp_mw_head^

<!-- HERO SECTION  -->
<div class="site-hero_2">
    <div class="page-title">
        <div class="big-title montserrat-text uppercase">New Listing</div>
        <div class="small-title montserrat-text uppercase">home / new</div>
    </div>
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    ^tmp_mw_listing_form^
                </div>
            </div>
        </div>
    </div>
</section>
^tmp_angular=mw_index^ ^tmp_mw_footer^
